<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>OpenAI Chat Bot</title>
</head>

<body>
    <h1>ChatGPTに質問する</h1>

    <input type="text" id="input-field" placeholder="質問を入力">
    <button id="send-button">送信</button>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/start.js}"></script>

    <button onclick="location.href='http://localhost:8080/chart'">戻る</button>
</body>

</html>